.server-rendering {
  opacity: 0;
  position: absolute;
  top: 0;
}
.static-react-render .server-rendering {
  opacity: inherit;
  position: relative;
}
.block {
  max-width: 80%;
  margin-bottom: 40px;
}
